.btn-social {
	//@include btn-styles($default-color, $default-states-color);
	opacity: 0.85;
	padding: 8px 9px;

	.fa {
		font-size: 18px;
	    top: -1px;
	    vertical-align: middle;
	    display: inline-block;
	    position: relative;
	}

	&.btn-round {
		padding: 9px 10px;
	}

	&.btn-simple {
		padding: 9px 5px;
		font-size: 14px;

		.fa{
			font-size: 20px;
			position: relative;
			top: -2px;
			width: 24px;
		}
	}

}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
	padding-right: 10px;
	padding-left: 10px;

}

.fa-2x {
	font-size: 26px;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
