---
layout: page
title: Case Studies
image_path: img/RED/Czybik_Bansah_EPSchoolHohoe010.jpg
permalink: /case-studies

---

<div class="section section-gray" style="padding-top:0px; padding-bottom: 0px">
{% assign ordered_pages = site.casestudies  %}
{% for entry in ordered_pages %}
  <div class="custom" style="background-color: white;max-width: 70%;margin: auto; padding-top: 20px; padding-bottom: 40px">
    <div id="section{{ entry.order }}"></div>

  <div style="margin: auto; max-width: 60%; background-color: white">
    <h2><a href="{{ entry.url }}">{{ entry.title }} </a></h2>

  <div class="text-justify">{{ entry.content | markdownify }}</div>
  {% if entry.button-text %}
  <a href="{{ entry.button-url }}" class="card-title"><button class="btn btn-round btn-danger">{{entry.button-text}}</button></a>
  {% endif %}


  </div>
  {% if entry.image %}
    <img src="{{entry.image}}" style="max-width: 100%; padding-top: 20px"></img>
  {% endif %}

</div>



{% endfor %}
</div>
