<br><br>
<div class="">
    <div class="row">
        <div class="">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <div class="card card-plain hoverable">
                            <img alt="..." src="{{ include.photo1 }}" />
                        </div>
                        <div class="card card-plain hoverable">
                            <img alt="..." src="{{ include.photo2 }}" />
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card card-plain hoverable">
                            <img alt="..." src="{{ include.photo3 }}" />
                        </div>
                        <div class="card card-plain hoverable">
                            <img alt="..." src="{{ include.photo4 }}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
