<div class="section section-info section-info-presentation section-gray">

        <div class="row">
            <div class="col-sm-{{ include.text-width }}">
              <br><br>
              <div class="title-area" style="margin-bottom: 30px">
                  <h2 class="editable">{{ include.title }}</h2>

                  <div class="separator separator-danger"></div>
                  </div>
                <div class="info-pricing">
                    <div class="text">
                        <h3 class="title-info editable">{{ include.subtitle }}</h3>
                        <p class="text-description text-gray text-justify editable">{{ include.content}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-{{ include.img-width}} ">
                <div class="image-container hoverable">
                    <img src="{{ include.image_path }}" alt=""
                    />
                </div>
            </div>
        </div>
</div>
