<div class="section">

<div class="">
<div class="title-area">
    <h2>Timeline</h2>
</div>
    <ul class="timeline">
        {% assign even = false %}

        {% for entry in site.data.timeline %}
        {% assign entry_description = entry.descriptions %}
        {% capture u %}{% cycle 'odd', 'even' %}{% endcapture %}


        <!-- Item 1 -->
        <li>
            {% if u == 'even' %}
            <div class="direction-r wow fadeInRight animate">
                <div class="flag-wrapper">
                    <span class="flag">{{ entry.year}}</span>
                </div>
                {% for description in entry_description %}
                <div class="desc"><p>{{ description.desc }}</p></div>
                {% endfor %}
            </div>
            {% endif %}

            {% if u == 'odd' %}
            <div class="direction-l wow fadeInLeft animate">
                <div class="flag-wrapper">
                    <span class="flag">{{ entry.year}}</span>
                </div>
                {% for description in entry_description %}
                <div class="desc text-justify"><p>{{ description.desc }}</p></div>
                {% endfor %}
            </div>
            {% endif %}

        </li>
        {% endfor %}


    </ul>

      </div>
</div>


