---

layout: page

---



{{content}}

{% assign blog-type = site.[page.type-post]  %}

<div class="section section-card-blog">
        <div class="container">
            <div class="title-area">
                <h5 class="text-gray">Don't miss our</h5>
                <h2>Most Recent Posts</h2>
                <div class="separator separator-danger"></div>
            </div>

            <div class="row">
              {% for post in blog-type %}
                <div class="col-md-4">
                    <div class="card card-blog">
                    {% if post.image_path %}
                        <a href="{{ post.url }}" class="header">
                            <img src="{{ post.image_path }}" class="image-header">
                        </a>
                      {% endif %}
                        <div class="content">
                            <div class="circle-black">
                                <div class="circle">
                                    <div class="date-wrapper">
                                        <span class="month">{{ post.month }}</span>
                                        <span class="date">{{ post.day }}</span>
                                    </div>
                                </div>
                            </div>
                            <a href="{{ post.url }}" class="card-title"><h3>{{ post.title }}</h3></a>
                            <h6 class="card-category text-warning">{{ post.category }}</h6>
                            <p class="text-description text-gray">{{ post.description }}</p>
                            <a href="{{ post.url }}" class="card-title"><button class="btn btn-round btn-danger">Read More</button></a>
                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
  </div>
