---
layout: default
---

<div class="section section-header section-header-small">
    <div class="parallax">
        <div class="image"
             style="background-image:url('{{ page.image_path }}')">
        </div>
        <div class="container">
            <div class="content">
            </div>
        </div>
    </div>
</div>

<div class="section section-numbers">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h2>{{ page.title }}</h2>
        </div>
          <div class="col-md-7">

            {{ content}}
              <br><br>
              <a href="/ourcampaigns#casestudies" class="card-title"><p style="color: #ff7279"><i
                      class="fa fa-arrow-circle-left"></i>Go back to Case Studies
              </p></a>

            {% if page.image %}
              <img src="{{page.image}}" style="max-width: 100%; padding-top: 20px"></img>
            {% endif %}
          </div>
          <div class="col-md-4 col-md-offset-1" style="    background-color: #e5e5e5;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;">
            {% if page.sidebar %}

            <h3 class="text-center">{{ page.sidebar-title}}</h3>
            {% assign sidebar = page.sidebar %}
            <br>
            {% for entry in sidebar %}
              {% if entry.key-stat %}
              <h4 class="text-center"><strong>{{ entry.key-stat }}</strong></h4>
              {% endif %}
              <div class="text-center">
              {{ entry.item | markdownify }}
            </div>
            {% if entry.bottom-heading %}
            <br>
            <div class="text-center" style="color: rgba(0, 0, 0, 0.54)">{{ entry.bottom-heading }}</div><br>
            {% endif %}
            <div class="separator separator-danger"></div>
            {% endfor %}
            {% endif %}
            <h3 class="text-center">Share on social media</h3>
            <div class="row">
                <div class="text-area text-center">
                  <ul class="share-buttons">
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ftest.html&t=" target="_blank" title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i><span class="sr-only">Share on Facebook</span></a></li>
                    <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Ftest.html&text=:%20http%3A%2F%2Ftest.html" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i><span class="sr-only">Tweet</span></a></li>
                    <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Ftest.html&title=&summary=&source=http%3A%2F%2Ftest.html" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i><span class="sr-only">Share on LinkedIn</span></a></li>
                    <li><a href="mailto:?subject=&body=:%20http%3A%2F%2Ftest.html" target="_blank" title="Send email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i><span class="sr-only">Send email</span></a></li>
                  </ul>
                </div>
            </div>

            </div>
    </div>
  </div>
</div>
