---

layout: page

---
<br><br>
{% for entry in site.data.[page.gallery] %}
{% assign images = entry.images %}
<div class="row">

<div class="container">


<h2>{{ entry.album }}</h2>

<p>{{ entry.description }}</p>
{% for img in images %}

<div class="col-sm-12 col-md-4">
<div class="card card-blog">
     <a class="header">
         <img src="{{ img.image_path }}" class="image-header">
     </a>
     <div class="content">
         <a  class="card-title">
             <h3>{{ img.image-description }}</h3>
         </a>
         <div class="line-divider line-danger"></div>
     </div>
 </div>
 </div>
 {% endfor %}
</div>
</div>
{% endfor %}
