---
layout: default
---
{% if page.header_image_path %}
<div class="section section-header section-header-small">
    <div class="parallax">
        <div class="image"
             style="background-image:url('{{ " .." }}{{ page.header_image_path }}')">
    </div>
    <div class="container">
        <div class="content">
            <h1>{{ page.header_title}}</h1>
            {% if page.header_subtitle %}
            <h3>{{ page.header_subtitle}}</h3>
            {% endif %}
            {% if page.header_button-text %}
            <button type="button" class="btn btn-white btn-fill">{{ page.header_button-text }}</button>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endif %}

<div class="section section-gray py-5" style="padding-top:0px; padding-bottom: 0px">
    <div class="custom">

        <div class="custom-content">
            <div class="text-justify">{{ page.content | markdownify }}</div>
            {% if page.button-text %}
            <br><br>

            <a href="{{ page.button-url }}" class="card-title"><p style="color: #ff7279
">{{page.button-text}} <i
                    class="fa fa-arrow-circle-right"></i>
            </p>
            </a>
            <br><br>

            {% endif %}


        </div>

        {% if page.bottom_image_path %}
        <img src="{{page.bottom_image_path}}" style="max-width: 100%; padding-top: 20px"></img>
        {% endif %}
        {% if page.timeline == "true" %}
        {% include timeline.html %}
        {% endif %}

    </div>


</div>